.navbar {
    background-color: #212529; /* Dark Grey */
    color: #fff; /* White */
}

.navbar .navbar-brand h1 {
    color: #17a2b8; /* Light Blue, for contrast */
}

.navbar .nav-item .nav-link {
    color: #fff; /* White */
}

.navbar .btn {
    background-color: #17a2b8; /* Light Blue */
    color: #fff; /* White */
}

/* On hover, make the text a little lighter */
.navbar .nav-item .nav-link:hover {
    color: #cfcfcf;
}

/* On hover, make the button a little darker */
.navbar .btn:hover {
    background-color: #138496;
}
