.fadeDown-appear,
.fadeDown-enter {
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1;
}

.fadeDown-appear-active,
.fadeDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}
