/* .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel img.active {
    opacity: 1;
}

.captionDiv{
    background-color: rgb(220, 215, 215);
    color: black;
    min-height: 100px;
    max-height: fit-content;
}

.uploadedImg{
    width: 50%;
    height: 50%;
    object-fit: cover;
} */


.carouselImage{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.imageCaption{
    padding: 10px;
    border-radius: 30px;
    color: black;
    background-color: rgb(220, 215, 215);
    font-weight: 900;
    font-size: 50px;
}


/* Pagination Part */

.products {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

  }
  
  .products__single {
    height: 650px;
    list-style: none;
    padding: 40px;
    /* background-color: rgb(220, 220, 220); */
    /* background-color: #e1c5ac; */
    color: #252525;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    /* border: 5px solid #e1c5ac; */
    border-radius: 70px;
    /* box-shadow: 5px 5px 10px 2px #e1c5ac; */
    cursor: pointer; /* Imp on clickables */
    transition: all ease-in-out 0.3s;
  }

  .products :hover{
    box-shadow: -13px -13px 10px 2px #e1c5ac;
    transform: scaleZ(3);
  }
  
  .products__single > img{
    width: 100%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 30px;
  }

  .products__single > span{
    background-color: #fefefe;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    box-shadow: 13px 13px 10px 2px #e1c5ac;
    border-radius: 30px;
    transition: all ease-in-out 0.3s;
  }

  .products__single > span:hover{
    box-shadow: 7px 7px 10px 2px #e1c5ac;
    transform: scale(1.05, 1.05);
  }

  .products__single > img:hover{
    box-shadow: none;
  }
  
  .pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }
  
  .pagination > span{
    padding: 15px 20px;
    font-weight: 600;
    /* border: 1px solid gray; */
    /* border: 1px solid #B78D65; */
    cursor: pointer;
  }
  
  .pagination__disable{
    opacity: 0;
  }
  
  .pagination__selected{
    background-color: #B78D65;
    color: white;
  }