/* .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel img.active {
    opacity: 1;
}

.captionDiv{
    background-color: rgb(220, 215, 215);
    color: black;
    min-height: 100px;
    max-height: fit-content;
}

.uploadedImg{
    width: 50%;
    height: 50%;
    object-fit: cover;
} */


.carouselImage{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.imageCaption{
    padding: 10px;
    border-radius: 30px;
    color: black;
    background-color: rgb(220, 215, 215);
    font-weight: 900;
    font-size: 50px;
}


/* Pagination Part */

.products {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .products__single {
    height: 450px;
    list-style: none;
    padding: 40px;
    /* background-color: rgb(220, 220, 220); */
    background-color: #e1c5ac;
    color: #252525;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; /* Imp on clickables */
  }
  
  .products__single > img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-bottom: 5px;
  }

  .products__single > span{
    margin-top: 10px;
  }
  
  .pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }
  
  .pagination > span{
    padding: 15px 20px;
    font-weight: 600;
    /* border: 1px solid gray; */
    /* border: 1px solid #B78D65; */
    cursor: pointer;
  }
  
  .pagination__disable{
    opacity: 0;
  }
  
  .pagination__selected{
    background-color: #B78D65;
    color: white;
  }